{% block title %} Secrets Page {% endblock %}

{% block content %}

<h1>Secret Page</h1>
    <div>
        <h2>User data </h2>
        <h3> Username: {{user.username}}</h3>
        <h3> Email: {{user.email}}</h3>
        <h3> First name: {{user.first_name}}</h3>
        <h3> Last name: {{user.last_name}}</h3>
    </div>
    <form action="/logout" method="POST">
        <button>logout</button>
    </form>

    <h2>Current Feedback</h2>
<div id="user-feedback-box">
    {% for feedback in user.feedback%}
        <li>{{feedback.title}}</li>

        <form action="/feedback/{{feedback.id}}/update" method="GET">
            <button>Edit</button>
        </form>

        <form action="/feedback/{{feedback.id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    {% endfor %}
</div>
    <a href="/users/{{user.username}}/feedback/add">Add More Feedback</a>
    <div>
        <form action="/users/{{user.username}}/delete" method="POST">
            <button>Delete User</button>
        </form>
    </div>

    {% endblock %}
